
@font-face {
    font-family: 'MP1';
    src: url('../fonts/MyriadPro-Black.woff2') format('woff2'),
        url('../fonts/MyriadPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'MP2';
    src: url('../fonts/MyriadPro-Light.woff2') format('woff2'),
        url('../fonts/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}


